html{
  scroll-behavior: smooth;
}

*{
  background-color: black;
  margin: 0%;
}

body::-webkit-scrollbar{
  display: none;
}

#hide_section{
  display: none;
}

.hide_button{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
}
section{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin-bottom: 10%;
}

h2{
  font-size: 48px;
  font-family: 'Unbounded', cursive;
  margin-left: 10%;
}

h3{
  color: white;
  font-family: 'Inter', sans-serif;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
  margin-top: 5px;
  font-family: 'Inter', sans-serif;
}

.button-blue {
  background-color: #00e5ff;
  color: #00e5ff;
}

.button-pink {
  background-color: #ff6ac9;
  color: #ff6ac9;
}

.button-blue p{
  background-color: #00e5ff;
  color: black;
}

.button-pink p{
  background-color: #ff6ac9;
  color: white;
}


button:hover {
  box-shadow: 0px 0px 10px 3px;
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% { box-shadow: 0px 0px 5px 1px; }
  50% { box-shadow: 0px 0px 20px 5px; }
  100% { box-shadow: 0px 0px 5px 1px; }
}

#hide_btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #00e5ff;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#hide_btn:hover {
  background-color: #ff6ac9;
  box-shadow: 0px 0px 10px 3px #ff6ac9;
  animation: glowing_hide_button 2s infinite;
  color: white;
}

@keyframes glowing_hide_button {
  0% { box-shadow: 0px 0px 5px 1px #ff6ac9; }
  50% { box-shadow: 0px 0px 20px 5px #ff6ac9; }
  100% { box-shadow: 0px 0px 5px 1px #ff6ac9; }
}


.logo{
  width: 20%;
  height: auto;
  justify-content: flex-end;
}

.logo img{
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: 10%;
}

.box{
  width: 30%;
  height: auto;
  /* background: yellow; */
  box-sizing: border-box;
}

.m_txt{
  color: white;
  font-family: sans-serif;
}

#box_cont{
  color: #ff6ac9;
  font-family: sans-serif;
}

#reviews{
  margin-bottom: 0%;
}

#container_space{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.rev_cont{
  width: 25%;
  height: 250px;
  background: #0D0D0D;
  padding: 30px;
  border-radius: 20px;
  margin: 15px;
}

.rev_cont img{
  width: 50px;
  height: 50px;
  clip-path: circle(50% at 50% 50%);
}

.rev_cont p{
  color: #ff6ac9;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  background: #0D0D0D;
  margin-top: 50px;
  margin-left: 10px;
}

.client_profile{
  display: flex;
  background: #0D0D0D;
}

.client_profile h3{
  color: #ff6ac9;
  margin-top: 25px;
  margin-left: 5px;
}


#intro_txt{
  width: 100%;
}

#cover_img img{
  position: absolute;
  width: 650px;
  height: 600px;
  margin-left: -10%;
  margin-top: -8%;
  background-color: transparent;

}

#title{
  width: 100%;
  color: white;
}

#tools_title{
  width: 100%;
  color: #ff6ac9;
}

#contact{
  margin-top: 13%;
}

#cont_text{
  color: white;
  width: 100%;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
}

.cont_imgs{
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

img{
  width: 25px;
  height: 25px;
  margin: 10px;
}

#master_img img{
  width: 500px;
  height: 500px;
  margin-top: -5%;
  margin-left: 15%;
}

footer{
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 15px;
  text-align: center ;
  margin: 5px;
}

@media screen and (max-width:1800px) {

  #intro{
    margin-top: 10%;
  }

  h1{
    font-size: 74px;
  }

  
}


@media screen and (max-width:800px) {
  .box{
    width: 100%;
  }
  section{
    margin-bottom: 0%;
  }
  h1{
    font-size: 64px;
    line-height: 60px;
  }

  h2{
    font-size: 32px;
    margin-left: 0%;
  }

  button{
    width: 97%;
    margin: 5px;
  }

  #tools_title{
    color: #C6AC8F;
  }

  .rev_cont{
    width: 100%;
    height: 200px;
  }

}

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.glitch {
  position: relative;
  font-size: 75px;
  font-weight: bold;
  font-family: 'Unbounded', cursive;
  color: #FFFFFF;
  letter-spacing: 3px;
  z-index: 1;
  background-color: transparent;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00FFFF;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #FF00FF;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
     transform: translate(0);
  }
  20% {
     transform: translate(-2px, 2px);
  }
  40% {
     transform: translate(-2px, -2px);
  }
  60% {
     transform: translate(2px, 2px);
  }
  80% {
     transform: translate(2px, -2px);
  }
  to {
     transform: translate(0);
  }
}


.bubbles{
  position: relative;
  display: flex;
}

.bubbles span{
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  opacity: 0.8;
}

.bubbles span:nth-child(even){
  background: #ff2d75;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}

@keyframes animate{
  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(1);
  }

}

#f-wave{
  margin-top: 3%;
}
